@import url('https://fonts.googleapis.com/css2?family=Abel&family=EB+Garamond&family=Signika+Negative:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}
.nv{
  width: 100%;
  font-size: 28px;
  padding: 42px 0px;
  text-align: right;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}
li{
  display: inline;
}section{
  min-height: 100%;
  padding: 6rem 13%;
  
}
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color:black;

}.dark-mode {
  background-color: black;
  color: white;
}.dark-mode .nv a{
 color: rgb(10, 81, 57);
}
.dark-mode .nv a:hover{
  color: rgb(107, 209, 187);
}
.prsnl{
 
 justify-content: center;
  display: flex;
  flex-direction: column;
}
.hi{
 font-size: 52px;
 font-family: 'Pacifico', cursive;
}
.nm{
  font-size: 70px;
  font-family: 'Source Code Pro', monospace;
}
.abt{
 font-size: 40px;
}
.btns button{
  margin: 0 5px;
  font-size: 18px;
  margin-top: 28px;
  padding: 14px 24px;
  border-radius: 36px;
  font-weight: bold;
  cursor: pointer;
  background-color: #adceba;
}
.btns button:hover{
  background-color: rgb(130, 215, 139);
}
.nv a{
  padding: 12px;
  text-decoration: none;
  color:  #021c25;
}.nv a:hover{
  color: rgb(141, 187, 187);
}
h1{
  font-family: 'Source Code Pro', monospace;
   font-size: 50px;
   text-decoration:underline;
   justify-content: center;
   text-align: center;
}
.main{
  display: flex;
  height:45vw;
}
.social a:hover {
  color: rgb(128, 217, 235);
}
.info{
  margin: auto;
  justify-content: space-around;
  margin-top: 22px;
  height: 36vw;
  display: flex;
  width:95vw;
}
.yr{padding-top: 22px;
  padding-left: 1px;
  padding-bottom:2rem;
 
}
.hsc{
  padding-top: 22px;
  padding-left: 46px;
  padding-bottom:2rem ;
  border-left: 10px solid rgb(75, 6, 6);
}.contactclass p i{
   color: brown;
   margin-right: 15px;
   margin-left: 30px;
   font-size: 25px;
}
.social{
 margin-top:22px;
 padding: 0px;
}
.social a{
  transition:transform 0.5s;
  text-decoration: none;
  font-size: 30px;
  margin-left: 40px;

  color:  rgb(10, 81, 57);
  display: inline-block;
}
.social a:hover{
  color: rgb(107, 209, 187);
  transform: translateY(-5px);}
.bt{
  margin: 10px 5px;
  font-size: 18px;
  margin-top: 18px;
  padding: 12px 44px;
  border-radius: 36px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #A3BCB6;
}
.bt :hover{
  background-color: rgb(120, 120, 120);
}
/*services section*/
.cplist{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:10ex;
  margin-top: 80px;
  margin-left:280px;
  margin-bottom: 209px;
  align-items: center;
}
.cplist div{
  background:#A3BCB6;
  color:rgb(52, 17, 17);
  padding: 40px;
  width: 220px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 300;
   transition:background 0.5s,transform 0.5s;
}
.cplist div:hover{
  background: rgb(169, 67, 67);
}
.cplist div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.cplist div a{
  text-decoration: none;
  color: #fff; 
  font-size: 10px;
  margin-top: 20px;
  display: inline-block;
}
.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgb(247, 247, 247);
 border-radius: 50%;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color:rgb(13, 22, 58);
}html{
  scroll-behavior: smooth;
}
.details{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 38px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
}
@media only screen and (max-width:600px){
  .nv{
    margin: 100%;
  }
}
